extends ../layouts/users.pug

block main 
    .row
        h1(class="mt-3 text-success") Danh sách bạn bè

    .row.mt-2.g-3
        .col-md-4
            each user in friends
                .box-user.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3(id_user=user._id)
                    .user-avatar
                        img(
                            src=user.avatar ? user.avatar : "/images/circle-user-solid.svg" 
                            alt=user.fullname
                            height="50"
                            width="50"
                            class="rounded-circle")
                    div
                        .user-name
                            h6.user-name-text.mb-0 #{user.fullname}
                        .action-user.mt-2
                            .btn.btn-success.btn-sm.text-white Nhắn tin


