extends ../layouts/users.pug

block main 
    .row
        h1(class="mt-3 text-success") Danh sách bạn bè

    .row.mt-2.g-3
        .col-md-4
            .box-user.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3
                .user-avatar
                    img(
                        src="/images/circle-user-solid.svg" 
                        alt="avatar"
                        height="50"
                        width="50"
                        class="rounded-circle")
                div
                    .user-name
                        h6.user-name-text.mb-0 Lê Văn A
                    .action-user.mt-2
                        .btn.btn-success.btn-sm.text-white Nhắn tin

        .col-md-4.mb-2
            .box-user.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3
                .user-avatar
                    img(
                        src="/images/circle-user-solid.svg" 
                        alt="avatar"
                        height="50"
                        width="50"
                        class="rounded-circle")
                div
                    .user-name
                        h6.user-name-text.mb-0 Lê Văn B
                    .action-user.mt-2
                        .btn.btn-success.btn-sm.text-white Nhắn tin

        .col-md-4.mb-2
            .box-user.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3
                .user-avatar
                    img(
                        src="/images/circle-user-solid.svg" 
                        alt="avatar"
                        height="50"
                        width="50"
                        class="rounded-circle")
                div
                    .user-name
                        h6.user-name-text.mb-0 Lê Văn C
                    .action-user.mt-2
                        .btn.btn-success.btn-sm.text-white Nhắn tin

        .col-md-4.mb-2
            .box-user.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3
                .user-avatar
                    img(
                        src="/images/circle-user-solid.svg" 
                        alt="avatar"
                        height="50"
                        width="50"
                        class="rounded-circle")
                div
                    .user-name
                        h6.user-name-text.mb-0 Lê Văn C
                    .action-user.mt-2
                        .btn.btn-success.btn-sm.text-white Nhắn tin
