extends ../layouts/users.pug

block main 
    .row
        h1(class="mt-3 text-success") Danh sách bạn bè

    .row.mt-2.g-3(data-user-friends=user._id)
        .col-6
            each item in friends
                .box-user.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3(id_user=item._id)
                    .user-avatar.position-relative
                        img(
                            src=item.avatar ? item.avatar : "/images/circle-user-solid.svg" 
                            alt=item.fullname
                            height="50"
                            width="50"
                            class="rounded-circle")
                        span.position-absolute.rounded-circle(
                            style="width: 20px; height: 20px; bottom: -5px; right: -5px; border: 2px solid white;"
                            statusOnline=item.statusOnline
                        )

                    div
                        .user-name
                            h6.user-name-text.mb-0 #{item.fullname}
                        .action-user.mt-2
                            .btn.btn-success.btn-sm.text-white Nhắn tin


