extends ../layouts/users.pug

block main 
    .row
        h1(class="mt-3 text-success") Lời mời đã gửi

    .row.mt-2.g-3
        each user in requestFriends
            .col-sm-6.col-md-4
                .box-user.add.d-flex.align-items-center.gap-3.border.border-secondary-subtle.rounded-3.p-3(user-id=user._id)
                    .user-avatar
                        img(
                            src=`${user.avatar ? user.avatar : "/images/circle-user-solid.svg"}` 
                            alt="avatar"
                            height="50"
                            width="50"
                            class="rounded-circle")
                    div
                        .user-name
                            h6.user-name-text.mb-0 #{user.fullname}
                        .action-user.mt-2
                            div(class="btn btn-success btn-sm text-white" btn-add-friend)
                                i(class="bi bi-person-add me-1")
                                | Thêm bạn bè
                            div(class="btn btn-secondary btn-sm text-white" btn-cancel-friend)
                                i(class="bi bi-person-x me-1")
                                | Huỷ lời mời


